.cover{
    padding: 0 48px 92px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .cover{
        padding: 0 0 92px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover{
        padding: 0 0 88px 0;
    }
}

@media screen and (max-width: 460px) {
    .cover{
        padding: 0 0 64px 0;
    }
}